.bg-light {
    background-color: #f8f9fa !important;
  }
  
  .shadow-lg {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1) !important;
  }
  
  .form-control {
    border-radius: 0.25rem !important;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1) !important;
  }
  
  .form-label {
    font-weight: bold;
  }
  
  .btn-success {
    background-color: #28a745 !important;
    border-color: #28a745 !important;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1) !important;
    transition: all 0.2s ease-in-out;
  }
  
  .btn-success:hover {
    background-color: #218838 !important;
    border-color: #1e7e34 !important;
  }
  